@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #171717;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  /* Мобильный режим приложения */
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  -webkit-text-size-adjust: 100%;
}
